<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">auto.market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
      [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'chat'" [routerLinkActive]="'active'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'sell-car'" [routerLinkActive]="'active'">Sell Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'buy-car'" [routerLinkActive]="'active'">Buy Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'market'" [routerLinkActive]="'active'">Market</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contact-us'" [routerLinkActive]="'active'">Contact Us</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <img src="../../../assets/images/car.png" alt="car" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <img src="../../../assets/images/star.png" alt="star" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <img src="../../../assets/images/bell.png" alt="bell" />
              <div class="navbar__notification-dot"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <img src="../../../assets/images/loggedin-user.png" class="navbar__user-image" alt="user"> Semi L.
              <img src="../../../assets/images/dropdown.png" class="navbar__dropdown" alt="dropdown">
            </a>
          </li>
          <button class="btn navbar__btn-post-ad" type="submit">
            <i class="fa fa-plus"></i> Post ad
          </button>
        </ul>
      </div>
    </div>
  </div>
</nav>